@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

body {
    background-color: #FAFAFA;
}

.footer-border::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 101px;
    height: 4px;
    background-color: #D87D4A;
    z-index: 10;
}

.cart-container {
    position: absolute;
    top: 62px;
    right: 25px;
    width: 327px;
}