@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: #fafafa;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.footer-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 101px;
  height: 4px;
  background-color: #d87d4a;
  z-index: 10;
}

.social-icons:hover > path,
.home-icon:hover > path {
  fill: #d87d4a;
}

.cart:hover > g > path {
  fill: #fbaf85;
}

.radio-container {
  position: relative;
  cursor: pointer;
}

.radio-container input[type="radio"] {
  display: none;
}

/* Size of the custom radio */
.radio-container .custom-radio {
  width: 20px;
  height: 20px;
  border: 1px solid #cfcfcf;
  border-radius: 50%;
  background-color: white;
  position: relative;
}

/* .radio-container input[type="radio"]:checked + .custom-radio {
  border-color: #007BFF; 
} */

.radio-container input[type="radio"]:checked + .custom-radio:after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d87d4a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 48em) {
  .footer-border::before {
    transform: translate(-350%);
  }
}
